template(name='upcomingContestListLayout')
  div(class='upcoming-contest-list')
    div(class='col-xs-24')
      div(class='row')
        h1(id='upcoming-contest-title' class='col-xs-16') Upcoming Contests
      div(class='row')
        +upcomingContestListContainer

template(name='liveContestListLayout')

template(name='historyContestListLayout')
