template(name='upcomingContestListLayout')
  +upcomingContestListContainer

template(name='liveContestListLayout')
  +liveContestListContainer

template(name='historyContestListLayout')
  +historyContestListContainer
