<template name="nflPlayersList">

  <!-- Filtering -->
  {{> positionDropdown}}
  {{> teamDropdown}}

  <!-- Search -->
  {{> nflPlayerSearch}}

  <!-- Team Rollover -->
  <div class='listDivider'></div>
  {{> teamRollover}}

  <!-- Counts -->
  <!-- <h4>{{totalNflPlayersCount}} Total</h4> -->
  <!-- <h4>{{nflPositionCount}} Total</h4> -->

  <!-- List -->
  <ul class='nflPlayersList'>
    {{> nflPlayerSearchResults}}

    {{#each nflPlayers}}
      {{> playerCard}}
    {{/each}}
  </ul>
</template>
