template(name='contestTitle')
  div(class='col-xs-24')
    div(class='row')
      div(class='col-xs-16') #{contestName}
      div(class='col-xs-8') Contest Starts this {{momentify starts}}

template(name='contestSlateContainer')
  div(class='col-xs-24')
    div(class='row')
      each slate
        div(class='col-xs-2') #{gameName}

template(name='contestLineupContainer')
  div(class='col-xs-24')
    div(class='row')
      div(class='col-xs-12') Available Players
      div(class='col-xs-12') Your Lineup
