<template name='navLayout'>
  <div class='container-fluid'>
    <nav class="navbar navbar-default navbar-thin-height" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ pathFor 'lobbyLayout' }}">
          <img src='https://dm63aeeijtc75.cloudfront.net/app/images/victivLogo_notext.png'>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div>
        <ul class="nav navbar-nav">
          <li class="{{ isActiveRoute regex='lobbyLayout' }}"><a href="{{ pathFor 'lobbyLayout' }}">Lobby</a></li>
          <li class="{{ isActiveRoute regex='chatterLayout' }}"><a href="{{ pathFor 'chatterLayout' }}">Chatter</a></li>
          <li class="{{ isActiveRoute regex='nflPlayersListLayout' }}"><a href="{{ pathFor 'nflPlayersListLayout' }}">Players</a></li>
          <li><a href="#">Schedule</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Videos</a></li>
              <li><a href="#">Gameday</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <div class="login-block">
          {{#if user}}
            {{> avatarImage}}
          {{/if}}
          </div>
          <div class="login-block">
            {{> login}}
          </div>
        </ul>
      </div>
    </nav>
    <div id='globalContainer' class='row'>
      {{> yield}}
    </div>
  </div>
</template>
