template(name='navLayout')
  div(class='wrapper-main')
    div(id='nav-container')
      +nav
    div(class='wrapper-body')
      div(class='headerBar')
      div(id='globalContainer' class='row container-fluid')
        +yield
    div(id='footerContainer' class='row container-fluid')
      +footer
