//- Template contestLayout is currently rendered with data context from Router
template(name='contestLayout')
  div(class='contest')
    div(class='col-xs-24')
      div(class='row')
        +contestTitle
      div(class='row')
        +contestFixtureContainer
      div(class='row')
        +contestLineupContainer
