<template name="nflPlayersList">
  <div id='mainContainer'>
    <div id='leftCol'>
      <div>USER HERE</div>      
    </div>
    <div id='contentCol'>
      <div id='rightCol'>
        <ul>
          <!-- Superstars -->
          {{> nflPlayersSuperstars}}
        </ul>
      </div>
      <div id='contentArea'>
        <!-- Filtering -->
        {{> positionDropdown}}
        {{> teamDropdown}}

        <!-- Search -->
        {{> nflPlayerSearch}}

        <!-- Team Rollover -->
        <div class='listDivider'></div>
        {{> teamRollover}}

        <!-- List -->
        <ul class='nflPlayersList'>
          {{> nflPlayerSearchResults}}

          {{#each nflPlayers}}
            {{> playerCard}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>
