<template name="nflPlayersListLayout">
  <div class='row'>
    <div class='col-md-2'>
      <div>USER HERE</div>      
    </div>
    <div class='col-md-7'>
      <!-- Filtering -->
      {{> positionDropdown}}
      {{> teamDropdown}}

      <!-- Search -->
      {{> nflPlayerSearch}}

      <!-- Team Rollover -->
      <div class='listDivider'></div>
      {{> teamRollover}}

      <!-- List -->
      {{> nflPlayersList}}
    </div>
    <div class='col-md-3'>
      <!-- Superstars -->
      {{> superstarsFeed}}
    </div>
  </div>
</template>