<template name='superstarsFeed'>
	<div class='superstarsFeed'>
	  {{#each superstars }}
	    {{> superstarFeedCard }}
	  {{/each}}
  </div>
</template>

<template name="superstarFeedCard">
  <li class='nflPlayer superstarFeedCard'>
    {{> superstarFeedCardPhoto }}
    {{> superstarFeedCardInfo }}
  </li>
</template>

<template name='superstarFeedCardPhoto'>
  <div class='photoCol'>
    <a href={{pathFor 'playerCardPage' superstarPlayer._id}}>
      <img class='playerPhoto' src={{ playerImageESPN espn_id = superstarPlayer.espn_id espn_size = 'medium'}}>
    </a>
  </div>
</template>

<template name='superstarFeedCardInfo'>
  <div class='infoCol'>
    <div class='cardLastName'>{{ superstarPlayer.last_name }}</div>
    <div class='timeAgo'>{{ livestamp createdAt }}</div>
  </div>
</template>
