// overrides some li.nflPlayer styles

li.nflPlayer.superstarFeedCard
	height: 50px
	margin-bottom: 0

	.photoCol
		width: 68px
		height: 50px

		img.playerPhoto
      border-radius: 5px

	.cardLastName
		font-size: 1.5em

	.cardPosition 
		font-size: 1em

	.timeAgo
		font-family: Calisto MT
		font-size: .75em
    font-style: italic