@import "../../../lib/stylesheets/colors.sass"

$lightGrey: #d6d6d6
$lighterGrey: #ebebeb
$lightestGrey: #fafafa
$mediumGrey: #9b9c9d
$lightBlue: #3f96cb

.border-left-gold
  border-left: 3px solid gold

.border-right-gold
  height: 45px
  width: 9px
  margin-left: 42px
  border-right: 3px solid gold
  transform: skew(-25deg, 0)

.diagonal-border
  width: 5px
  margin-top: 15px
  float: left

  .diagonal-mask
    height: 45px
    margin-left: -28px

.contestLineupContainer
  .player-list-item
    height: 45px
    background-image: url("/images/player_purple_pink.svg")
    &:hover
      background-color: $lightestGrey

    &.selected-player
      background-color: #f2fbe9

  .position-filters
    height: 40px
    background-color: $lighterGrey

  .position-filter-tab
    height: 100%
    color: $lightBlue
    border-right: 2px white solid

.contestFixtureContainer

  .team-logo
    height: 42px 
    width: 42px

  .event-time
    margin-top: -36px

  .fixtureLogos
    margin: auto
    width: 132px
    display: inline-block
    margin-top: 10px

    .side-by-side
      float: left

    .fixture-team-logo
      overflow: hidden
      padding: 0
      height: 45px
      width: 60px
      float: left
      margin-left: -10px

      .diagonal-mask
        overflow: hidden
        transform: skew(-25deg, 0)
        height: 60px
        width: 42px
        position: absolute
        z-index: 5

        .undiagonal-mask
          transform: skew(25deg, 0)

        .team-logo-left
          position: relative
          margin-top: 6px
          margin-left: 3px
          opacity: .99
          z-index: 5

        .team-logo-right
          position: relative
          margin-top: 32px
          margin-left: -10px
          z-index: 1

    .team-logo-extra-right
      height: 72px
      overflow: visible
      margin-left: -18px

      .diagonal-mask
        height: 75px

#event-filters-container

  .event-filter-tab
    height: 100%
    border: 1px solid white
    padding: 5px 0

    &:hover
      border-left: 1px solid $accent-highlight
      background-color: $lightestGrey

  .event-filter
    height: 60px
    padding-left: 10px
    font-color: $lightBlue 

.fa-plus-circle
    color: $fa-plus
    font-size: 22px

.fa-minus-circle
  color: $fa-minus
  font-size: 22px

.player-list-table-header
  height: 30px
  background-color: $lightestGrey
  border-bottom: 1px solid $lightGrey

  .player-list-table-title
    font-weight: bold

#player-list-table-container
  height: 600px
  border: 1px solid $lightGrey

#player-list-table
  border: 1px solid $lightGrey

  .row
    border-bottom: 1px solid $lightGrey

    &:last-child
      border-bottom: 0px

  .player-photo
    height: 40px
    width: 54px

.lineup-table
  border: 1px solid $lightGrey
  border-radius: 5px
  padding: 8px

  .row
    border-bottom: 1px solid $lightGrey

  .player-photo
    height: 50px
    width: 68px
    border-radius: 50%
    -webkit-filter: brightness(1.15)
    overflow: hidden

  .team-logo
    height: 50px
    width: 50px
    border-radius: 0%

  .player-photo-anonymous
    height: 50px
    width: 50px
    border-radius: 50%

  .lineup-player-image
    padding: 0 0 0 5px

  .lineup-player-selection,
  .lineup-player-enter
    height: 60px

  .lineup-player-selection.player-empty
    background-color: $lightestGrey

  .lineup-empty-name
    color: $lightGrey

  .lineup-player-position
    color: $mediumGrey

  .lineup-clear-all
    height: 45px
    color: $highlight-red

  .btn.btn-default.btn-lg.contest-entry
    padding: 12px 30px

  // http://cssglobe.com/angled-content-mask-with-css/
  // important is all three layers have overflow: hidden
  .lineup-team-logo
    overflow: hidden
    padding: 0
    height: 60px
    width: 70px

    .border-left-gold
      border-left: 1px solid gold

    .diagonal-mask
      overflow: hidden
      transform: skew(-25deg, 0)
      height: 60px
      width: 60px
      border-left: 1px solid gold
      position: absolute
      left: 10px

    .player-team-logo
      height: 70px
      width: 70px
      margin-left: -20px
      margin-top: -7px
      transform: skew(25deg, 0)


.lineup-desc
  margin-bottom: 10px