template(name='lobbyLayout')
  div(class='lobby')
    div(class='col-md-24')
      div(class='row footerPre') 
        +featuredPromotions
      div(class='row') 
        +lobbyFilters
      div(class='row') 
        +contestItems
      div(class='row lobbyFooter') 
        +contestLegend
      div(class='row footerPre') 
        +promotions