template(name='lobbyLayout')
  div(class='lobby')
    div(class='col-xs-24')
      div(class='row footerPre') 
        +featuredPromotions
      div(class='row') 
        +lobbyFilters
      div(class='row') 
        +contestResultsContainer
      div(class='row lobbyFooter') 
        +contestLegend
      div(class='row footerPre') 
        +promotions