<template name="nflPlayersListLayout">
  <div class='row'>

    <div class='col-lg-2'>
      {{> avatarImage }}
    </div>

    <div class='col-lg-6'>
      <!-- NFL Players -->
      <!-- Filtering -->
      {{> positionDropdown}}
      {{> teamDropdown}}

      <!-- Search -->
      {{> nflPlayerSearch}}

      <!-- Team Selection Rollover -->
      <div class='listDivider'></div>
      {{> teamSelect}}

      <!-- List -->
      {{> nflPlayersList}}

    </div>

    <div class='col-lg-3'>

      <!-- Superstars -->
      {{> superstarsFeed}}

    </div>
  </div>
</template>
