template(name='contestCreate')
  div(class='col-xs-24')
    div(class='row')
      h1(id='contest-title' class='col-xs-16') Create Contest
    div(class='row col-xs-8')
      +each events
        div(class='event-options') {{momentify scheduled}} #{home} #{away}
      div(class='btn btn-lg btn-default create-fixture') Create Fixture
    div(class='row col-xs-8')
      +each fixtures
        div {{_id}}
