template(name='fixtureCreate')
  div(class='col-xs-24')
    div(class='row')
      h1(id='contest-title' class='col-xs-16') Fixtures Creation Tool
      div How this tool works: Click on Events, View the Currently created fixture in the Console. Then click "Create Fixture" to insert into the DB.
      div Next steps are to add more sports, ways to change the events to query, and better UI for fixture creation, including CRUD.
    div(class='row')
      div(class='col-xs-8')
        h3 Events
        +each allFutureEvents
          div(class='event-options') {{momentify startsAt}} #{home} #{away}
        div(class='btn btn-lg btn-default create-fixture') Create Fixture
      div(class='col-xs-8')
        h3 Fixtures
        +each fixtures
          div
            span
              h4 {{ momentify startsAt }}: {{ fixturesEventCount }} Events
          +each fixturesEvents
            div {{momentify startsAt}} #{away} @ #{home}
      div(class='col-xs-8')
        div(class='btn btn-lg btn-default create-fixture')
          a(href='{{pathFor contestCreateLayout }}') Go to Contest Creation
