template(name='upcomingContestListContainer')
  div(class='col-xs-24')
    +each upcomingContests
      div(class='row')
        div(class='col-xs-6') #{contestName}
        div(class='col-xs-6') #{contestName}
        div(class='col-xs-6') #{contestName}
