<template name="people">
  <!-- Filters -->
  <label class='show-tech'>
    <input type='checkbox' checked="{{showTech}}"/>
    Tech: {{techPeopleCount}}
  </label>
  <!-- List all people -->
  <h4>{{totalPeopleCount}} Total</h4>
  <ul>
    {{#each people}}
      {{>personDescription}}
    {{/each}}
  </ul>
</template>

<template name="personDescription">
  <li>{{name}} - {{department}} - {{title}} - {{client}}
    <span class='delete'>[remove]</span>
  </li>
</template>

<template name="addPersonForm">
	<form class="new-person">
		<input name='name' placeholder='name' type='text'/>
		<input name='department' placeholder='department' type='text'/>
		<input name='title' placeholder='title' type='text'/>
		<input name='client' placeholder='client' type='text'/>
		<input type="submit" value="Add">
	</form>
</template>

<template name='peopleList'>
  {{#if user}}
    {{> addPersonForm}}
  {{/if}}
  {{> people}}
</template>
