template(name="contestDetailsModal")
  div(class='modal fade' id='contestDetailsModal')
    div(class="modal-dialog")
    div(class="modal-content")
      div(class="modal-header")
        button( type="button" class="close" data-dismiss="modal")
          span( aria-hidden="true" )&times;
          span( class="sr-only") Close
        h4( class="modal-title" id="exampleModalLabel") Contest - $1 Million Prize
      div(class="modal-body")
        h2 Contest
      div(class="modal-footer")
        button(type="button" class="btn btn-default" data-dismiss="modal") Close
        button(type="button" class="btn btn-primary") Enter New Lineup
