<template name='contestFilterContainer'>
  <div id='contestFilterContainer' class='col-xs-24'>
    <div class='contestFilter'>
      <div class='row headspace-50 greyBg'>
        <div class='col-xs-8 rBorder primaryBorderColor solidBorder'>
          <div class='row contestFilterRow'>
            <div class='col-xs-7 vAlign'><h5 class='center whiteText'>SPORT</h5></div>
            <div class='col-xs-16 vAlign'>
              <div class='row'>
                <div class='col-xs-24 whiteText'>ALL</div>
              </div>
              <div class='row'>
                <div class='col-xs-8 whiteText'>NFL</div>
                <div class='col-xs-8 whiteText'>NBA</div>
                <div class='col-xs-8 whiteText'>NHL</div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-xs-8 rBorder primaryBorderColor solidBorder'>
          <div class='row contestFilterRow'>
            <div class='col-xs-7 vAlign'><h5 class='center whiteText'>ENTRY</h5></div>
          </div>
        </div>
        <div class='col-xs-8'>
          <div class='row contestFilterRow'>
            <div class='col-xs-7 vAlign'><h5 class='center whiteText'>MAX PLAYERS</h5></div>
            <div class='col-xs-16 vAlign'>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
