<template name='contestFilterContainer'>
  <div id='contestFilterContainer' class='col-xs-24'>
    <div class='contestFilter'>
      <div class='row'>
        <div class='col-xs-8'>
          <div class='row contestFilterRow'>
            <div class='col-xs-7 verticallyAlign'><h5>SPORT</h5></div>
            <div class='col-xs-16 verticallyAlign'>
              <div class='row'>
                <div class='col-xs-24'>ALL</div>
              </div>
              <div class='row'>
                <div class='col-xs-8'>NFL</div>
                <div class='col-xs-8'>NBA</div>
                <div class='col-xs-8'>NHL</div>
              </div>
            </div>
          </div>
        </div>
        <div class='col-xs-8'>
          <div class='row contestFilterRow'>
            <div class='col-xs-7 verticallyAlign'><h5>BUY-IN</h5></div>
          </div>
        </div>
        <div class='col-xs-8'>
          <div class='row contestFilterRow'>
            <div class='col-xs-7 verticallyAlign'><h5>MAX PLAYERS</h5></div>
            <div class='col-xs-16 verticallyAlign'>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
