@import "../../lib/stylesheets/colors.sass"

.lobbyFilterRow
  height: 55px
  font-size: 10px
  padding: 5px

.contestModal
  cursor: pointer

#contestResultsTable
  height: 800px // set a fixed height so the custom scrollbar takes effect
  background-color: white

.contestIcons
  border-radius: 3px
  
.contestGuaranteedPayIcon
  color: orange
  background-color: gray
  padding: 2px 4px

.contestMultiEntryIcon
  color: orange
  background-color: gray
  padding: 2px 4px
  border-radius: 1px

.contestResultItem
  color: $baby-blue
  height: 35px

  .title
    font-family: 'jersey'
    font-size: 1.4em

// currently used to compensate for table header over contestResultItem
// this pushed the first resultItem down 20px so it can be seen
.contestResultsBlankItem
  height: 20px

.contestEnterButton
  a
    text-decoration: none
