template(name='lobbyFilters')
  div(id='contestFilterContainer' class='col-xs-24')
    div(class='contestFilter')
      div(class='row greyBg')
        div(class='col-xs-8 rBorder primaryBorderColor solidBorder')
          div(class='row lobbyFilterRow')
            div(class='col-xs-7 vAlign')
              h6(class='center whiteText') SPORT
            div(class='col-xs-16 vAlign')
              div(class='row')
                div(class='col-xs-24 whiteText') ALL
              div(class='row')
                div(class='col-xs-8 whiteText') NFL
                div(class='col-xs-8 whiteText') NBA
                div(class='col-xs-8 whiteText') NHL
                div(class='col-xs-8 whiteText') MLB
        div(class='col-xs-8 rBorder primaryBorderColor solidBorder')
          div(class='row lobbyFilterRow')
            div(class='col-xs-7 vAlign')
              h6(class='center whiteText') ENTRY        
        div(class='col-xs-8')
          div(class='row lobbyFilterRow')
            div(class='col-xs-7 vAlign')
              h6(class='center whiteText') MAX PLAYERS
            div(class='col-xs-16 vAlign')
