template(name='footer')
	div(class='col-md-24')
		div(class='row headspace-20')
			div(class='col-md-6')
			div(class='col-md-5')
				div(class='row') How to Play
				div(class='row') About
				div(class='row') 100% Legal
				div(class='row') Scoring
				div(class='row') Sports
			div(class='col-md-5')
				div(class='row') Team
